.app-container {
  display: block;
  overflow-x: hidden;
}

.main-content {
  flex: 1;
  /* Position the main content in the 'main' grid area */
}

.page-content {
  flex: 1; /* Allow the page content to take up remaining space */
  padding-top: 7rem;
  /* Add some spacing around the page content */
}

.side-nav-container {
  position: fixed;
  left: -250px; /* Adjust the width as needed */
  top: 0;
  height: 100vh;
  width: 250px; /* Adjust the width as needed */

  transition: left 0.3s ease;

  /* Ensure the side nav is on top of other content */
}

.side-nav-container.open {
  left: 0;
}
